  <div class="topic">
    <h4><img src="../images/icons/icon-popup-01.png" /><span id="popTitle"></span></h4>
  </div>
  <div class="cont" id="confirm">
    <table class="poopupTbl">
      <tbody>   
        <tr style="background:#acf7fc;">
          <td colspan=2></td>
        </tr> 
        <tr>
          <td class="name" id="czz"></td>
          <td><select  name="params" id="params"></select></td>
        </tr>
      </tbody>
    </table>
    <div class="shopArea2">
      <input type="button" value="解挂" class="popupBtn02" id="vmbind_btn"/>
      <input type="button" value="全部" class="popupBtn02" id="allvm_btn" style="display: none"/>
      <input type="button" value="取消" class="popupBtn02" id="close" />
            <input type="hidden" id="nasrescode" /> 
            <input type="hidden" id="instanceId" /> 
            <input type="hidden" id="resourcepoolsid" /> 
               
    </div>
  </div>