<!--  fix bug:7981 7980-->
  <div style="width:550px;">
      <div class="topic" style="width:100%">
        <h4 ><img src="../images/icons/icon-popup-01.png" />
         <span id="popTitle"></span>
        </h4>
      </div>
      <div class="cont" id="confirm"  style="width:93%">
        <div class="poopupTbl" style="word-wrap:break-word;overflow:hidden;table-layout:fixed;">
            <span  id="message" ></span>
        </div>
        <div class="shopArea2">
             <input type="button" value="关闭" class="popupBtn02" id="close" />
        </div>
      </div>
  </div>