<!--<div id="MonitorCancel" class="breadcrumbs" style="width: 100%;float:right">    -->
<!--  <input class="back" type="button" id="MonitorCancel" value="返回" style="width: 100%;float:right" onclick="javascript:hideProductMonitor();"/>-->
<!--</div>-->
<div id="moDiv" style="width: 680px; display:none; height:750px;position: relative;padding-left:10px;">      

    <ul>   
        <li id="title" style="width: 50%;height:20px;float:left;margin-bottom:5px; text-align: center;">CPU占有率</li>
        <li id="title" style="width: 50%;height:20px;float:left;margin-bottom:5px;text-align: center;">内存使用率</li>
        <li id="CpuArea" style="width: 48%;height:220px;float:left;margin-bottom:20px;"></li>
        <li id="MemArea" style="width: 48%;height:220px;float:right;margin-bottom:20px;"></li>
        <li id="title" style="width: 50%;height:20px;float:left;margin-bottom:5px; text-align: center;">硬盘吞吐率</li>
        <li id="title" style="width: 50%;height:20px;float:left;margin-bottom:5px; text-align: center;">网络吞吐率</li>
        <li id="DiskArea"style="width: 48%;height:220px;float:left;"></li>
        <li id="NetArea" style="width: 48%;height:220px;float:right;"></li>
    </ul>                      
</div>                  