<%@page pageEncoding="UTF-8" contentType="text/html; charset=UTF-8" %>

          <input type="hidden" id="comcurPage" value="1" />
          <input type="hidden" id="compageSize" value="5" />
          <input type="hidden" id="comtotal" value="1" />
          
  <div class="hotList03" id="cloud_mall_hot_service">  
  		<span class="prev" id="comp" onclick="turnPage2(-1, 1)"></span>
  		<span class="next" id="comn" onclick="turnPage2(1, 1)"></span>
    <div class="top"></div>
    <div class="hotTitle">服务推荐</div>
    <div class="cont">
      <ul id="commend_service"></ul>
    </div>
    <div class="bottomArea">
      <div class="bottonCont">
      </div>
    </div>
  </div>
  <!--end hotList03-->